$component: "c-list";
$list-padding: 18px;
$list-padding-double: 24px;
$list-radius: 8px;
$list-action-radius: 5px;
$list-action-bg: #f4f3fa;
$list-action-padding: 6px 10px;
$list-background-header: #f4f3fa;
