.u-bg-primary {
  background-color: $color-primary;
}

.u-bg-lighten {
  background-color: $color-lighten-2;
}

.u-bg-blue {
  background-color: $color-blue-light;
}

.u-bg-blue-dark {
  background-color: $color-blue-dark;
}
