.u-flex-row {
  flex-direction: row;
}

.u-flex-column {
  flex-direction: column;
}

.u-items-center {
  align-items: center;
}

.u-items-start {
  align-items: flex-start;
}

.u-items-end {
  align-items: flex-end;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-between {
  justify-content: space-between;
}

@include mediaquery(md) {
  .u-items-center\@md {
    align-items: center;
  }

  .u-items-start\@md {
    align-items: flex-start;
  }
}

@include mediaquery(sm) {
  .u-items-center\@sm {
    align-items: center;
  }

  .u-items-start\@sm {
    align-items: flex-start;
  }
}
