@import "./src/mixins";
@import "./src/variables";

.#{$component} {
  position: relative;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: $color-blue-light;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 14px;
  line-height: 2.5;
  transition: background-color 0.3s ease;
  overflow: hidden;
  outline: none;
  cursor: pointer;

  &--disabled {
    color: $color-gray;
    background-color: $color-disabled;
    cursor: not-allowed;
  }

  &--secondary {
    @include button-bordered($color-white, $color-white, $color-blue-light);
  }

  &--secondary-gray {
    @include button(#292831, #efeef4);
  }

  &--secondary-white {
    @include button-bordered($color-white, $color-white, $color-blue-light);
  }

  &--secondary-red {
    @include button-bordered($color-white, $color-white, $color-red);
  }

  &--primary {
    @include button($color-white, $color-blue-light);
  }

  &[disabled],
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &::-moz-focus-inner {
    border: none;
  }
}
