$grid-width: 1280px;
$border-radius: 4px;

$color-text: #292831;
$color-primary: #ffc500;
$color-error: #b00020;
$color-disabled: #7b7b7b;

$color-lighten: #fbfbfb;
$color-lighten-2: #fefefe;
$color-gray: #f4f3fa;
$color-white: #ffffff;
$color-black: #292831;

$color-red: rgb(176, 54, 54);

$transition-delay-default: 0.5s;

$color-bg-gray: #fcfcfc;
$color-blue-dark: #252040;
$color-blue-light: #33b6fe;
$color-blue-esmerald: #39d1ef; // #40d8e8
