@mixin button($text-color, $background-color, $bg-hover-dark-percent: 15%) {
  color: $text-color;
  background-color: $background-color;
  span {
    color: $text-color;
  }

  &:hover {
    background-color: darken($background-color, $bg-hover-dark-percent);
  }
}

@mixin button-bordered($text-color, $text-color-hover, $background-color) {
  background-color: transparent;
  color: $background-color;
  border: 1px solid $text-color;
  color: $text-color;

  &:hover {
    color: $text-color-hover;
    background-color: $background-color;
    border-color: $background-color;
  }
}
